#debugger {
  -webkit-box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.3);
  box-shadow: 0 -3px 4px 0 rgba(0,0,0,0.3);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: rgba(255,255,255,.9);
  border-top: 1px solid #888;
  bottom: 0;
  height: 175px;
  left: 0;
  overflow: hidden;
  padding: 10px 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 9997;
}

#debugger .error {
  background: #BA322E;
}
#debugger .info {
  background: #2986C4;
}
#debugger .warn {
  background: #ED9C24;
}
#debugger .log {
  background: #8AC334;
}

#debugger div,
#debugger ul,
#debugger li,
#debugger h3,
#debugger code,
#debugger span {
  margin: 0;
  padding: 0;
  font-size: 13px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#debugger h3 {
  text-rendering: optimizeLegibility;
  line-height: 1.4;
}

#debugger ul {
  list-style-type: none;
  line-height: 1.6;
}

#debugger code {
  background-color: #f5f5f5;
  border: 1px solid rgba(0,0,0,0.15);
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  color: #555;
  cursor: default;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-size: 10px;
  line-height: 11px;
  margin: 10px 2% 0 0;
  padding: 8px;
  white-space: pre;
  white-space: pre-wrap;
  width: 49%;
  word-break: break-all;
  word-wrap: break-word;
  vertical-align: top;
}

#debugger code.html {
  font-family : inherit;
  color: inherit;
}

#debugger code:nth-child(2n) {
  margin-right: 0;
}

#debugger code.only_child {
  width: 100%;
  margin-right: 0;
}

#debugger #newLogIndicator {
  width: 12px;
  height: 12px;
  float: right;
  display: inline-block;
  border: 1px solid rgba(0,0,0,0);
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  top: 6px;
  position: relative;
  right: 6px;
  -webkit-filter: blur(1px);
}

#debugger #newLogIndicator.log {
  border: solid 1px rgba(138, 195, 52, 0.85);
}
#debugger #newLogIndicator.warn {
  border: solid 1px rgba(237, 156, 36, 0.85);
}
#debugger #newLogIndicator.info {
  border: solid 1px rgba(82, 156, 207, 0.85);
}
#debugger #newLogIndicator.error {
  border: solid 1px rgba(237, 69, 38, 0.85);
}

#debugger .resizer {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAFCAMAAACD1meMAAAABGdBTUEAAK/INwWK6QAAABl0RVh0U29mdHdhcmUAQWRvYmUgSW1hZ2VSZWFkeXHJZTwAAAAGUExURbu7u////3iwjPUAAAACdFJOU/8A5bcwSgAAABRJREFUeNpiYMADGHEDBhroAwgwAA9QADeT0qnSAAAAAElFTkSuQmCC');
  cursor: ns-resize;
  height: 15px;
  margin: -13px auto 8px auto;
  z-index: 9999;
}

#debugger .sidebar {
  background: #E0DFDF;
  border-right: solid 1px #a6aab3;
  height: 100%;
  overflow: scroll;
  padding: 12px 0;
  position: relative;
  width: 200px;
  float: left;
  margin-left: -200px;
  margin-top: -1px;
  border-top: solid 1px #B6B5B5;
}

#debugger .sidebar-resize {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  cursor: ew-resize;
  width: 4px;
}

#debugger .sidebar h3 {
  color: #535353;
  text-transform: uppercase;
  text-shadow: 0 1px 0 #eceff6;
  font-size: 14px;
  padding: 0 12px 8px;
}

#debugger .sidebar li:hover {
  color: #fff;
  text-shadow: 0 1px #52315F;
  background: #89559C;
}

#debugger .sidebar li {
  color: #4C4B4B;
  text-shadow: 0 1px 0 #e8ebf0;
  text-transform: capitalize;
  padding: 6px 12px;
  cursor: pointer;
}

#debugger .sidebar li i {
  font-size: 115%;
}

#debugger .content {
  padding: 0 0 0 200px;
  clear: right;
  position: relative;
  width: 100%;
  height: 100%;
  right: auto;
  float: left;
  background: #f4f4f4;
  border-top: solid 1px #B6B5B5;
}

#debugger .logs {
  padding: 0 14px 40px 14px;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
  margin-bottom: 30px;
}

#debugger .logs li {
  border-bottom: solid 1px #bbb;
  margin-bottom: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
  border: solid 1px #c8c8c8;
  background: #fefefe;
  box-shadow: 0 0 5px 0 #dfdfdf;
  padding: 8px;
  margin: 10px 0;
}

#debugger .logs li.expandable {
  cursor: pointer;
}

#debugger .logs li code {
  display: none;
}

#debugger .logs li.active code {
  display: inline-block;
}

#debugger .logs li span {
  display: inline-block;
}

#debugger .logs li .level {
  width: 10%;
  color: #fff;
  text-align: center;
  font-size: 11px;
  line-height: 22px;
  position: relative;
  border-radius: 4px;
  opacity: .3;
  top: -4px;
}

#debugger .logs li .time {
  position: absolute;
  right: 21px;
  margin-top: -7px;
  font-size: 12px;
  color: #ccc;
}

#debugger .logs li .view-more {
  position: absolute;
  right: 21px;
  margin-top: 11px;
  font-size: 12px;
  color: #ccc;
}

#debugger .logs li .view-more .more {
  display: inline-block;
}

#debugger .logs li.active .view-more .more {
  display: none;
}

#debugger .logs li .view-more .less {
  display: none;
}

#debugger .logs li.active .view-more .less {
  display: inline-block;
}

#debugger .logs li.active .disclosure-arrow {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

#debugger .logs li .namespace {
  color: #999;
  width: 11%;
  font-size: 11px;
  line-height: 22px;
  padding: 0 0 0 6px;
  text-transform: capitalize;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#debugger .debugger-check-empty, #debugger .debugger-check {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-right: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #c4cbd2;
  border-radius: 12px;
}

#debugger .debugger-check-empty {
  border-color: #909090;
}

#debugger .debugger-check:before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -4px;
  height: 4px;
  width: 10px;
  border: solid #888;
  border-width: 0 0 3px 3px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#debugger .sidebar li:hover .debugger-check:before {
  border-color: #eee;
}

#debugger .logs li .message {
  color: #444;
  width: 75%;
  border-left: solid 1px #ccc;
  float: right;
  padding-left: 12px;
  padding-right: 60px;
  white-space: pre-wrap;
}

#debugger .logs li:hover .level {
  opacity: 1;
}

#debugger .level-filter {
  background: #F4F4F4;
  font-size: 0;
  border-bottom: solid 1px #B6B5B5;
}

#debugger .level-filter li {
  display: inline-block;
  color: #555;
  text-transform: capitalize;
  text-shadow: 0 1px 0 #ececec;
  font-size: 12px;
  padding: 5px 20px 3px 20px;
  cursor: pointer;
  text-rendering: optimizeLegibility;
  border-bottom: solid 5px transparent;
  background: #F4F4F4;
  position: relative;
  width: auto;
  z-index: auto;
  border: none;
  border-radius: 0;
}

#debugger .level-filter li.active {
  text-shadow: 0 0 rgba(0,0,0,0.5);
  background: #F4F4F4;
  color: #4C4B4B;
}

#debugger .level-filter li.active._all {
  border-bottom: solid 5px #A362BC;
}
#debugger .level-filter li.active.error {
  border-bottom: solid 5px #BA322E;
}
#debugger .level-filter li.active.info {
  border-bottom: solid 5px #2986C4;
}
#debugger .level-filter li.active.warn {
  border-bottom: solid 5px #ED9C24;
}
#debugger .level-filter li.active.log {
  border-bottom: solid 5px #8AC334;
}

#debugger .level-filter li._all:hover {
  border-bottom: solid 5px #B47AC8;
}
#debugger .level-filter li.error:hover {
  border-bottom: solid 5px #F24441;
}
#debugger .level-filter li.info:hover {
  border-bottom: solid 5px #5E9BCE;
}
#debugger .level-filter li.warn:hover {
  border-bottom: solid 5px #EFC46E;
}
#debugger .level-filter li.log:hover {
  border-bottom: solid 5px #ACD86D;
}

#debugger .level-filter li.clear-data {
  float: right;
}
#debugger .level-filter li.clear-data:hover {
  border-bottom: solid 5px #999;
}

#debugger span.json-key {
  color: #881391;
  font-size: 10px;
  line-height: 11px;
}

#debugger span.json-value {
  color: #1C00D5;
  font-size: 10px;
  line-height: 11px;
}

#debugger span.json-string {
  color: #C41A16;
  font-size: 10px;
  line-height: 11px;
}
