<div id="debugger">
  <div class='resizer toggler'>
    <span id="newLogIndicator"></span>
  </div>
  <div class="content">
    <div class="sidebar">
      <h3>Namespaces</h3>
      <ul>
        <li ng-click="setActiveNamespace('_all')">
          <i class="{{namespaceClass('_all')}}"></i> All Namespaces
        </li>
        <li ng-repeat="namespace in namespaces" ng-click="setActiveNamespace(namespace)">
          <i class="{{namespaceClass(namespace)}}"></i> {{namespace}}
        </li>
      </ul>
      <div class="sidebar-resize"></div>
    </div>

    <ul class="level-filter">
      <li ng-click="setActiveLevel('_all')" class="{{levelClass('_all')}}">All</li>
      <li ng-repeat="level in levels" ng-click="setActiveLevel(level)" class="{{levelClass(level)}}">{{level}}</li>
      <li ng-click="clear()" class="clear-data">Clear</li>
      <li class="search-data">Search <input type="text" ng-keyup="search(message)" ng-model="message"/></li>
    </ul>
    <ul class="logs">
      <li bindonce
          ng-repeat="log in logs"
          ng-click="toggleActive($event)"
          ng-class="{expandable : log.extra.length > 0}">

        <span class="level" ng-class="log.level" ng-bind="log.level"></span>
        <span class='time' ng-bind="log.time|date:'mediumTime'"></span>
        <span class='view-more' ng-show="log.extra.length">
          <span class='more'>View More</span>
          <span class='less'>View Less</span>
          <span class='disclosure-arrow'>&#9663;</span>
        </span>

        <span class='namespace' ng-bind="log.namespace"></span>
        <span class='message' ng-bind="log.message"></span>
        <br style="clear: both;" />

        <code ng-repeat="data in log.extra"
              ng-class="{only_child : log.extra.length == 1 || ($index == log.extra.length-1 && $index % 2 == 0)}"
              ng-bind-html="data.data" class="{{data.type}}"></code>
      </li>
    </ul>
  </div>
</div>

<style type="text/css">
<!-- @@include('logger/debugger.min.css') -->
</style>
